<h3>@ViewBag.jobs.Count Result(s)</h3>

    <table class="job-listing">
        <tbody>
            @foreach (Dictionary<string, string> job in ViewBag.jobs)
            {
                @foreach (KeyValuePair<string, string> jobfield in job)
                {
                    <tr>
                        <td>
                            @jobfield.Key
                        </td>
                        <td>
                            @jobfield.Value
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>